
# Django
Django
djangorestframework
markdown
django-filter

# For postgres
psycopg[binary]

# CORS Headers
django-cors-headers

# JWT
djangorestframework-simplejwt

# Grpc
# grpcio
# grpcio-tools
# django-socio-grpc

# For env
# python-dotenv

# Testing
pytest

# For Image support
pillow

# For development
## For fetching data from gutendex and pre-poulating the Books data to the database
requests

# Formatting and pre-commit config
ruff
pre-commit